<div class="row mt-4">
    <h1 class="text-center">Registrar Usuario</h1>
</div>

<div class="d-flex justify-content-center align-items-center mt-3 mb-3" id="authors-form-container">
<div class="col-6">
    <div class="card">
        <div class="card-body">
            <form enctype="multipart/form-data" method="post" id="base-form" action="/users/register">

                <input type="hidden" name="imageType" value="userImg">

                <div class="mb-3">
                <label for="user-name" class="form-label">Nombre(s)</label>
                <input class="form-control" id="user-name" type="text" name="userName" value=""  placeholder="Ej. Oscar" required>
                </div>

                <div class="mb-3">
                <label for="user-last-name" class="form-label">Apellido(s)</label>
                <input class="form-control" id="user-last-name" type="text" name="userLastName" value=""  placeholder="Ej. Rodriguez Castro" required>
                </div>

                <div class="mb-3">
                <label for="user-profile-name" class="form-label">Nombre de Perfil</label>
                <input class="form-control" id="user-profile-name" type="text" name="userProfileName" value=""  placeholder="Ej. OscarRodri21" required>
                </div>

                <div class="mb-3">
                <label for="user-email" class="form-label">Correo Electrónico</label>
                <input class="form-control" id="user-email" type="email" name="userEmail" value=""  placeholder="Ej. OscarRodriguez02@..." required>
                </div>

                <div class="mb-3">
                <label for="user-phone-number" class="form-label">Número de Teléfono</label>
                <input class="form-control" id="user-phone-number" type="text" name="userPhoneNumber" value=""  placeholder="Ej. 849-401-..." required>
                </div>

                <div class="mb-3">
                    <label for="image-upload" class="form-label">Foto de Perfil (Selecciona un Archivo)</label>
                    <input class="form-control" id="image-upload" type="file" name="imageFile" required>
                </div>

                <div class="mb-3">
                <label for="user-pass" class="form-label">Contraseña</label>
                <input class="form-control" id="user-pass" type="password" name="userPassword" value=""  placeholder="Introducir..." required>
                </div>

                <div class="mb-3">
                <label for="user-pass-confirm" class="form-label">Confirmar Contraseña</label>
                <input class="form-control" id="user-pass-confirm" type="password" name="userPasswordConfirm" value=""  placeholder="Introducir nuevamente..." required>
                </div>

               <div class="mb-3">
                    <label for="user-role" class="form-label">Rol</label>
                    <select class="form-control" id="user-role" type="text" name="userRoleId" required>
                    <option value="" >Selecciona un rol</option>
                    <option value="2">Cliente </option>
                    <option value="3">Delivery </option>
                    </select>
                </div>



                <div class="d-flex gap-2">
                <div clas="col-6 mb-3">
                    <a class="btn btn-danger" href="/" id="clear-button"><i class="bi bi-arrow-left"></i> Volver</a>
                </div>  

                <div clas="col-6 mb-3 ">
                    <button type="submit" class="btn btn-primary" id="create-button"><i class="bi bi-floppy"></i> Registrarse</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>